.recipe-editor {
  display: grid;
  grid-template-columns: 1rf 1rf;
  grid-template-rows: repeat(7, max-content) 1rf;
  grid-template-areas:
    "details recipe "
    "selector recipe"
    ". lye";
}

.ingredient-selector {
  grid-area: selector;
}

.details-control {
  grid-area: details;
}

.selector-title {
  font-weight: bold;
  font-variant: small-caps;
}

.recipe-list {
  grid-area: recipe;
}

.oil-title {
  grid-area: oils-title;
}
.oil {
  grid-area: oils;
}
.fragrance-title {
  grid-area: fragrances-title;
}
.fragrance {
  grid-area: fragrances;
}

.additive-title {
  grid-area: additives-title;
}
.additive {
  grid-area: additives;
}

.lye {
  grid-area: lye;
}

.ingredient-selector-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, max-content) 1fr;
  column-gap: 1em;
  grid-template-areas:
    "oils-title details"
    "oils details"
    "fragrances-title details"
    "fragrances details"
    "additives-title details"
    "additives details"
    ". details";
}

.ingredient-selector-list {
  height: 100%;
  grid-area: list;
  grid-row: 1;
}

.ingredient-selector-list > li {
  cursor: pointer;
}

.ingredient-details-view {
  grid-area: details;
  border-style: none none none double;
  border-width: 5px;
}
.ingredient-details-view > button {
  border-radius: 1em;
  border-style: none;
  color: #ddf;
  background: #880;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
}

.ingredient-details-view > h1 {
  color: #440;
  font-weight: bold;
}

.ingredient-details-view > p {
  color: #440;
  font-style: italic;
}

.ingredient {
  color: #880;
}

.selected {
  background-color: #880;
  color: #ddf;
}

.recipe-listing-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(9, max-content);
  grid-template-areas:
    "oils-title"
    "oils"
    "oils-summary"
    "fragrances-title"
    "fragrances"
    "fragrances-summary"
    "additives-title"
    "additives"
    "additives-summary";
}

.ingredient-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1em;
}

.oil-summary {
  grid-area: oils-summary;
}

.additive-summary {
  grid-area: additives-summary;
}
.fragrance-summary {
  grid-area: fragrancess-summary;
}
.recipe-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
